*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #FDFDFD;
}

 
.title{
    display: flex;
    justify-content: center;
    color: #FF377B;
    margin-top: 2%;
    font-weight: bold;
}
.heading{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    font-size: 2.5rem;
    width: 40%;
    margin-left: 32%;
    color: #032B58;
    margin-bottom: 3%;
   font-weight: bold;
   

}
.parent{
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    
}
.card{
    margin-left: 2%;
    background-color: white;
    border: solid;
    border-color: white;
}
.card h3{
    margin-top: 8%;
    margin-left: 6%;
    color: #002856;
    font-size: 1.5rem;
    font-weight: bold;
    
}
.card p{
    margin-top: 1%;
    margin-left: 6%;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.533);

}

