*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.image{
    position: relative;
}
.experience{
    padding-left:5% ;
    padding-top: 2%;
    width: 30%;
    height: 20%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    top: 50%;
    right: -20%;
    background-color: white;

}
.experience h1{
    color: red;
}
.experience p{
    width: 50%;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.content{
    padding-left: 7rem;
    padding-top: 5em;
    width: 70%;
}
.content h6{
    color: red;
}
.content p{
    color: rgba(0, 0, 0, 0.547);
}
.icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FEF0F0;
    color: rgba(255, 0, 0, 0.408);
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
}
button{
    width: 100%;
    color: white;
    background-color: red;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
}    