.body{
    background-color: #FFFFFF;
}
    

.title{
    margin-top: 5em;
    text-align: center;
    margin-bottom: 5em;
}
.title::after{
    position: absolute;
    content: "";
    width: 4em;
    height: 0.2em;
    background-color: #FFBC13;
    
}
p{
    width: 100%;
}

.card i{
    color: white;
    position: absolute;
    left: 2rem;
    top: 2rem;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    background-color: #FFBC13;
}
  
