/*small*/
@media(min-width:768px){
    .parent{
        width: 750px;
    }
}
/*medium*/
@media(min-width:992px){
    .parent{
        width: 970px;
    }
}
/*large*/
@media(min-width:1200px){
    .parent{
        width: 1170px;
    }
}